<!DOCTYPE html>
<!--a form to take in search information from a user to pass to the News API -->
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <br></br>
    <title style="font-size:px;"> Article Search Dashboard </title>
  </head>
   <body>

     <!--create form from host-->
        <form action= "http://localhost:4000/result" method = "POST" style = "margin-left: 40px;"> 
                <div class="form-group">
                  <div class="col-4">

                    <label for="search_bar" style= 'font-size: 25px'>Search for a Natural Disaster </label>
                    <br></br>
                    
                    <input type="text" name='q' class="form-control" id="search_bar" placeholder="Search">
                    <br></br>

                    <!-- date options are place holders with no current functionality due to history limits of News API-->
                    <label for="to_date">To:</label>
                    <input type="date" name="to_date"  id="to_date" default='today' >
                  
                    <label for='from_date'>From:</label>
                    <input type="date" name="from_date" id='from_date'  default='today'>
                   </div>
                </div>
                <button type="submit" class="btn btn-primary" style = "margin-left: 15px;">Submit</button>
         </form>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
    <br></br>
    <!-- documentation required by News API for use in this capacity -->
     <footer style = "margin-left: 40px;">
          <a href="https://newsapi.org/">Powered by News API</a>
        </footer>
</html>